<!-- Application Landing Page -->

<md-toolbar layout="row" layout-align="center center" >
      <h1>Emergency Health Service </h1>
    </md-toolbar>

    <div flex layout="row" >
        <!-- Container #4 -->
        <md-content flex id="content">
        <!-- Customer card -->
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">End users</span>
              <span class="md-subhead">Please select appropriate action to proceed</span>
            </md-card-title-text>
            <md-card-title-media>
              <div class="md-media-lg card-media"></div>
            </md-card-title-media>
          </md-card-title>
          <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-raised md-warn" ng-click="clientRegistration();">Register</md-button>
            <md-button class="md-raised md-primary">Login</md-button>
          </md-card-actions>
      </md-card>
      <!-- Customer card -->
      <!-- On the ground service vendors -->
      <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">On the ground vendors</span>
          <span class="md-subhead">Please select appropriate action to proceed</span>
        </md-card-title-text>
        <md-card-title-media>
          <div class="md-media-lg card-media"></div>
        </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-raised md-primary">Login</md-button>
        </md-card-actions>
      </md-card>
      <!-- On the ground service vendors-->
      <!-- Call center employee -->
      <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Call center employee</span>
          <span class="md-subhead">Please select appropriate action to proceed</span>
        </md-card-title-text>
        <md-card-title-media>
          <div class="md-media-lg card-media"></div>
        </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-raised md-primary">Login</md-button>
        </md-card-actions>
      </md-card>
      
      <!-- Call center employee -->
      </md-content>
    </div>
